@page "/"
@using System.Threading
@using SparqlForHumans.Core.Services

<h1>Sparql For Humans</h1>

<input placeholder="Search" ref="inputTextBox"/>

@functions {

    ElementRef inputTextBox;

    protected override void OnAfterRender()
    {
        JSRuntime.Current.InvokeAsync<object>("autoCompleteElement.initAutoComplete",
            inputTextBox,
            System.Reflection.Assembly.GetExecutingAssembly().GetName().Name,
            "RunQuery");

        base.OnAfterRender();
    }

    [JSInvokable]
    public static Task<SelectableValue[]> RunQuery(string query)
    {
        // Call a web api to get some data
        return Task.FromResult(MultiDocumentQueries.QueryEntitiesByLabel(query)
            .Select(x => new SelectableValue() {Label = x.Label, Value = x.ToRankedString()}).ToArray());
    }



}
