@page "/"
@using System.Threading
@using SparqlForHumans.Core.Services

<h1>Sparql For Humans</h1>
<button onclick="@CallJs">Load</button>
@*<input placeholder="Search" autofocus autocomplete="on" data-autocomplete="@results" oninput="(this.dispatchEvent(new CustomEvent('change', { bubbles: true })))" bind="@Query" />*@

@functions {

    void CallJs()
    {
        JSRuntime.Current.InvokeAsync<object>("autoCompleteElement.initAutoComplete");
    }

}
