@using SparqlForHumans.Blazor.App.Components
@inherits IndexBase
@page "/"

<div>
    <div>
        <h1>Sparql For Humans</h1>
    </div>
    
    <FloatMenu OnAddEntityClick="@AddEntity"/>
    
    @foreach (var entity in Entities)
    {
        <EntityView />
    }

</div>

@functions
{
    public List<EntityView> Entities {get;set;} = new List<EntityView>();

    public void AddEntity()
    {
        Entities.Add(new EntityView());
    }
}
