@page "/"
@using System.Threading
@using SparqlForHumans.Core.Services

<div>
    <div>
        <h1>Sparql For Humans</h1>
    </div>

    <div>
        <EntityView />
    </div>

    <div>

    </div>
</div>

@functions {



}
