@page "/"
@using SparqlForHumans.Core.Services

<h1>Sparql For Humans</h1>

@functions {

    private async Task RefreshCustomerList()
    {
        // Call a web api to get some data
        var customers = await Task.FromResult(MultiDocumentQueries.QueryEntitiesByLabel("obama")
            .Select(x => x.Label).ToArray());

    }

}
