@page "/"
@using System.Threading
@using SparqlForHumans.Core.Services

<h1>Sparql For Humans</h1>

<AutoCompleteView Source="@RunQuery"
                  Delay="300"
                  MinimumLength="2"
                  PlaceHolder="Search"/>

@functions {



    [JSInvokable]
    public static Task<SelectableValue[]> RunQuery(string query)
    {
        return Task.FromResult(MultiDocumentQueries.QueryEntitiesByLabel(query)
            .Select(x => new SelectableValue() {Label = x.Label, Value = x}).ToArray());
    }



}
