@page "/"
@using SparqlForHumans.Core.Services

<h1>Sparql For Humans</h1>

<button onclick="@RunQuery">Run Query</button>

<input id="customers" style="width: 300px" />

@functions {

    protected override async Task OnInitAsync()
    {
        await RefreshCustomerList();
    }

    private async Task RefreshCustomerList()
    {
        // Call a web api to get some data
        var customers = await Task.FromResult(MultiDocumentQueries.QueryEntitiesByLabel("obama")
            .Select(x => x.Label).ToArray());

        await JSRuntime.Current.InvokeAsync<bool>("fillAutocomplete", customers);
    }

    public async Task RunQuery()
    {
        await RefreshCustomerList();
        //JSRuntime.Current.InvokeAsync<object>("jsFunctions.runQuery","Obama");
        //JSRuntime.Current.InvokeAsync<object>("jsFunctions.runQuery");
    }

}
