@inherits IndexBase
@page "/"

<div>
    <div>
        <h1>Sparql For Humans</h1>
    </div>
    
    <a href="#" class="float">
        <i class="fa fa-envelope my-float"></i>
    </a>
    <div class="label-container">
        <div class="label-text">Entity</div>
    </div>

</div>

