@page "/"
@using System.Threading
@using SparqlForHumans.Core.Services

<h1>Sparql For Humans</h1>

<AutoCompleteView Source="@RunQuery" />

@functions {

    [JSInvokable]
    public static Task<SelectableValue[]> RunQuery(string query)
    {
        // Call a web api to get some data
        return Task.FromResult(MultiDocumentQueries.QueryEntitiesByLabel(query)
            .Select(x => new SelectableValue() {Label = x.Label, Value = x}).ToArray());
    }



}
