@page "/"
@using System.Threading
@using SparqlForHumans.Core.Services

<h1>Sparql For Humans</h1>

<input placeholder="Search" ref="username"/>

@functions {

    protected override void OnAfterRender()
    {
        JSRuntime.Current.InvokeAsync<object>("autoCompleteElement.initAutoComplete", username);
        base.OnAfterRender();
    }

    ElementRef username;

    [JSInvokable]
    public static Task<string[]> RunQuery(string query)
    {
        // Call a web api to get some data
        return Task.FromResult(MultiDocumentQueries.QueryEntitiesByLabel(query)
            .Select(x => x.Label).ToArray());
    }

}
