@inherits AutoCompleteBase

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Search</span>
    </div>

    <input placeholder="@PlaceHolder" 
           autofocus 
           oninput="(this.dispatchEvent(new CustomEvent('change', { bubbles: true })))" 
           bind="@InputQuery" />
</div>

