@inherits AutoCompleteBase

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Search</span>
    </div>
    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="@PlaceHolder" ref="InputElementRef" />
</div>