@inherits AutoCompleteBase

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Search</span>
    </div>

    <input type="text" 
           class="form-control" 
           placeholder="@PlaceHolder" 
           ref="InputElementRef" />
</div>