@using Newtonsoft.Json
@using SparqlForHumans.Core.Services
@using SparqlForHumans.Models
@inherits EntityBase

<div>
    <div>
        <h2>Entity</h2>
    </div>

    @*SearchBox*@
    <div>
        <AutoCompleteView AutocompleteSourceProvider="@RunQuery"
                          Delay="300"
                          MinimumLength="2"
                          OnSelectionChanged="@SelectionChanged"
                          PlaceHolder="Search" />
    </div>

    @if (SelectedEntity != null)
    {
        @*Entity*@
        <div>
            <p>Label: @SelectedEntity.Label</p>
            <p>Description: @SelectedEntity.Description</p>
        </div>

        @*Properties*@
        <div>

        </div>
    }
</div>

@functions {

    public static void SelectionChanged(object selectedJSONObject)
    {
        var settings = new JsonSerializerSettings()
        {
            TypeNameHandling = TypeNameHandling.All
        };

        Entity entity = JsonConvert.DeserializeObject<Entity>(selectedJSONObject.ToString(), settings);
        Console.WriteLine(entity);
    }

    public static Task<SelectableValue[]> RunQuery(string query)
    {
        return Task.FromResult(MultiDocumentQueries.QueryEntitiesByLabel(query)
            .Select(x => new SelectableValue() { Label = x.Label, Value = x }).ToArray());
    }

    public Entity SelectedEntity { get; set; }
}