@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<h1>AutoComplete</h1>
Search on the Lucene Index
<p />
<div>
    <label>Search: </label>
    <input type="text" id="LuceneAutocomplete" data-autocomplete="@Url.Action("Autocomplete","Lucene")" autocomplete="on" />
    <br /><br /><br />
    <label>Selected Item:</label>
    <h2 id="txtLabel"></h2>
    <h3 id="txtDescription"></h3>
    <br />
    <ul id="txtProperties"></ul>
</div>

<script>
    $(document).ready(function () {
        $("#LuceneAutocomplete").each(function () {
            $(this).autocomplete({
                //DataSource
                source: $(this).attr("data-autocomplete"),
                minLength: 2,
                delay: 200,

                //Description Tooltip
                focus: function (event, ui) {
                    $(".ui-autocomplete > li").attr("title", ui.item.description);
                },

                //OnSelect
                select: function (event, ui) {
                    console.log(ui.item);
                    $('#txtLabel').text(ui.item.label);
                    $('#txtDescription').text(ui.item.description);
                    $.each(ui.item.properties, function (index, value) {
                        console.log(value);
                        $('#txtProperties').append("<li>" + value.item2 + " (" + value.item1 + ")</li>");
                    });
                    return false;
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                    .append("<div>" + item.label + " (" + item.typeLabel + ") </div>")
                    .appendTo(ul);
            };;
        });
    });
</script>